---
import Css from "../icons/Css.astro";
import Firebase from "../icons/Firebase.astro";
import Javascript from "../icons/Javascript.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import ButtonPage from "./ButtonPage.astro";
import Iconos from "../components/Iconos.astro";

const TAGS = {
  REACT: {
    name: "React",
    icon: React,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: Javascript,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    icon: Tailwind,
  },
  FIREBASE: {
    name: "Firebase",
    icon: Firebase,
  },
  CSS: {
    name: 'CSS',
  icon: Css
  }
};

const PROYECTOS = [
  {
    Fecha: "Octubre 2023",
    Titulo: "Clon de Twitter/X",
    Descripcion:
      "Desarrollo de un clon funcional de la plataforma X (anteriormente conocida como Twitter) como proyecto final de un Bootcamp. Utilizando React, se implementaron funcionalidades clave, como la creaci贸n de publicaciones (tweets), sistema de 'likes' y un contador din谩mico de interacciones en tiempo real. Este proyecto destaca habilidades en la gesti贸n de componentes, estado de la aplicaci贸n - VERSION WEB.",
    Link: "https://xbyjhon.netlify.app/",
    Imagen: '/x.webp',
    Github: "https://github.com/Jhonjandrysdev/TwitterClone",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.FIREBASE, TAGS.TAILWIND],
  },
  {
    Fecha: "Septiembre 2023",
    Titulo: "Aplicaci贸n de Lista de Tareas (Todo List)",
    Descripcion:
      "Desarrollo de una aplicaci贸n web para la gesti贸n de tareas (Todo List) utilizando React y JavaScript. El proyecto se centr贸 en la implementaci贸n de props, manejo del estado local y creaci贸n de componentes reutilizables. Adem谩s, reforz贸 conceptos fundamentales de gesti贸n de datos y dise帽o interactivo.",
    Link: "https://todolistjhonjandrys.netlify.app/",
    Imagen: '/todo.jpg',
    Github: "https://github.com/Jhonjandrysdev/TodoListReact",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    Fecha: "Agosto 2023",
    Titulo: "Calculadora Web",
    Descripcion:
      "Desarrollo de una calculadora web interactiva como proyecto personal. Implementada con React y JSX, incluye operaciones matem谩ticas b谩sicas y un dise帽o centrado en la experiencia del usuario. Este proyecto demuestra habilidades en la creaci贸n de interfaces funcionales y aplicaci贸n de fundamentos s贸lidos en JavaScript.",
    Link: "https://calculadorajhonjandrysdev.netlify.app/",
    Imagen: '/calculate.jpg',
    Github: "https://github.com/Jhonjandrysdev/Calculadora",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.CSS],
  }
];
---

{
  PROYECTOS.map((project) => (
    <article class="mb-10">
      <h3 class="text-xl font-semibold text-white mb-4">
        {project.Titulo}
      </h3>
      <p class="text-base font-semibold text-gray-400 text-justify mb-4">
        {project.Descripcion}
      </p>
      <ul class="flex gap-x-4 gap-y-4 mb-4 items-center flex-wrap">
        {project.Tags.map((tag) => (
          <li>
            <Iconos>
            <span class=" flex items-center gap-3 text-sm py-1 px-1 rounded-full">
              <tag.icon class="size-5" /> {tag.name}
            </span>
          </Iconos>
          </li>
        ))}
      </ul>
      <div class="flex  gap-x-4 mb-8 items-center">
            <ButtonPage Link={project.Link} Title="Ir al Proyecto " Target="_blank"/>
            <ButtonPage Link={project.Github} Title="Ir a Repositorio" Target="_blank"/>
          </div>
          <img src={project.Imagen} alt={`Captura de pantalla del proyecto ${project.Titulo}`} loading="lazy" />
    </article>
  ))
}
