---
import Css from "../icons/Css.astro";
import Firebase from "../icons/Firebase.astro";
import Javascript from "../icons/Javascript.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import ButtonPage from "./ButtonPage.astro";
import Iconos from "../components/Iconos.astro";

const TAGS = {
  REACT: {
    name: "React",
    icon: React,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: Javascript,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    icon: Tailwind,
  },
  FIREBASE: {
    name: "Firebase",
    icon: Firebase,
  },
  CSS: {
    name: 'CSS',
  icon: Css
  }
};

const PROYECTOS = [
  {
    Fecha: "Octubre - 2023",
    Titulo: "Clon - Twitter/X",
    Descripcion:
      "Desarrollo de un clon de la plataforma X (antes conocida como Twitter) como proyecto final del Bootcamp. Utilizando React, se implement贸 la funcionalidad para crear tweets, dar likes y mantener un conteo din谩mico de interacciones en tiempo real. Este proyecto demuestra habilidades en el manejo de componentes y estados - VERSION WEB.",
    Link: "https://xbyjhon.netlify.app/",
    Imagen: '/x.webp',
    Github: "https://github.com/Jhonjandrysdev/TwitterClone",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.FIREBASE, TAGS.TAILWIND],
  },
  {
    Fecha: "Septiembre - 2023",
    Titulo: "Todo LIST",
    Descripcion:
      "Creaci贸n de una aplicaci贸n de lista de tareas (Todo List) utilizando React y JavaScript. Este proyecto sirvi贸 como pr谩ctica para el uso de props, manejo del estado local, y la estructuraci贸n de componentes reutilizables, adem谩s de reforzar conceptos de gesti贸n de datos y dise帽o interactivo.",
    Link: "https://todolistjhonjandrys.netlify.app/",
    Imagen: '/todo.jpg',
    Github: "https://github.com/Jhonjandrysdev/TodoListReact",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    Fecha: "Agosto - 2023",
    Titulo: "Calculadora",
    Descripcion:
      "Desarrollo de una calculadora interactiva como proyecto personal. Implementada con React y JSX, la calculadora incluye funcionalidades como operaciones b谩sicas y dise帽o amigable para el usuario. Este proyecto refleja la capacidad de construir interfaces funcionales y 煤tiles con fundamentos s贸lidos en JavaScript. - ",
    Link: "https://calculadorajhonjandrysdev.netlify.app/",
    Imagen: '/calculate.jpg',
    Github: "https://github.com/Jhonjandrysdev/Calculadora",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.CSS],
  }
];
---

{
  PROYECTOS.map((project) => (
    <article class="mb-10">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">
        {project.Titulo}
      </h3>
      <p class="text-base font-semibold text-gray-500 dark:text-gray-400 text-justify mb-4">
        {project.Descripcion}
      </p>
      <ul class="flex gap-x-4 gap-y-4 mb-4 items-center flex-wrap">
        {project.Tags.map((tag) => (
          <li>
            <Iconos>
            <span class=" flex items-center gap-3 text-sm py-1 px-1 rounded-full">
              <tag.icon class="size-5" /> {tag.name}
            </span>
          </Iconos>
          </li>
        ))}
      </ul>
      <div class="flex  gap-x-4 mb-8 items-center">
            <ButtonPage Link={project.Link} Title="Ir al Proyecto " Target="_blank"/>
            <ButtonPage Link={project.Github} Title="Ir a Repositorio" Target="_blank"/>
          </div>
          <img src={project.Imagen} alt={`Captura de pantalla del proyecto ${project.Titulo}`} loading="lazy" />
    </article>
  ))
}
