---
const PROYECTOS = [
    {
        Fecha: "Octubre - 2023",
        Titulo: "Clon - Twitter/X",
        Descripcion: "Desarrollo de un clon de la plataforma X (antes conocida como Twitter) como proyecto final del Bootcamp. Utilizando React, se implementó la funcionalidad para crear tweets, dar likes y mantener un conteo dinámico de interacciones en tiempo real. Este proyecto demuestra habilidades en el manejo de componentes y estados.",
        Link: "https://xbyjhon.netlify.app/",
        Imagen: '#',
        Github: '#',
        Tags: ['JavaScript', 'React' ,'Tailwind CSS', 'Firebase']
    },
    {
        Fecha: "Septiembre - 2023",
        Titulo: "Todo LIST",
        Descripcion: "Creación de una aplicación de lista de tareas (Todo List) utilizando React y JavaScript. Este proyecto sirvió como práctica para el uso de props, manejo del estado local, y la estructuración de componentes reutilizables, además de reforzar conceptos de gestión de datos y diseño interactivo.",
        Link: "https://todolistjhonjandrys.netlify.app/",
        Imagen: '#',
        Github: '#',
        Tags: ['JavaScript', 'React' ,'Tailwind CSS']
    },
    {
        Fecha: "Agosto - 2023",
        Titulo: "Calculadora",
        Descripcion: "Desarrollo de una calculadora interactiva como proyecto personal. Implementada con React y JSX, la calculadora incluye funcionalidades como operaciones básicas y diseño amigable para el usuario. Este proyecto refleja la capacidad de construir interfaces funcionales y útiles con fundamentos sólidos en JavaScript.",
        Link: "https://calculadorajhonjandrysdev.netlify.app/" ,
        Imagen: '#',
        Github: '#',
        Tags: ['JavaScript', 'React' ,'Tailwind CSS']
    },
];
---

{
    PROYECTOS.map((project) => (
        <article class="mb-5">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">{project.Titulo}</h3>
            <p class="text-base font-semibold text-gray-500 dark:text-gray-400 text-justify mb-4">{project.Descripcion}</p>
            <ul class="mb-3">
                {
                    project.Tags.map(tag =>(
                        <li>{tag}</li>
                    ))
                }
            </ul>
            <img src={project.Imagen} alt={`Captura de pantalla del proyecto ${project.Imagen}`}/>
        </article>
    ))
}