---
import Css from "../icons/Css.astro";
import Firebase from "../icons/Firebase.astro";
import Javascript from "../icons/Javascript.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";

const TAGS = {
  REACT: {
    name: "React",
    icon: React,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: Javascript,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    icon: Tailwind,
  },
  FIREBASE: {
    name: "Firebase",
    icon: Firebase,
  },
  CSS: {
    name: 'CSS',
  icon: Css
  }
};

const PROYECTOS = [
  {
    Fecha: "Octubre - 2023",
    Titulo: "Clon - Twitter/X",
    Descripcion:
      "Desarrollo de un clon de la plataforma X (antes conocida como Twitter) como proyecto final del Bootcamp. Utilizando React, se implementó la funcionalidad para crear tweets, dar likes y mantener un conteo dinámico de interacciones en tiempo real. Este proyecto demuestra habilidades en el manejo de componentes y estados - VERSION WEB.",
    Link: "https://xbyjhon.netlify.app/",
    Imagen: '/public/x.webp',
    Github: "https://github.com/Jhonjandrysdev/TwitterClone",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.FIREBASE, TAGS.TAILWIND],
  },
  {
    Fecha: "Septiembre - 2023",
    Titulo: "Todo LIST",
    Descripcion:
      "Creación de una aplicación de lista de tareas (Todo List) utilizando React y JavaScript. Este proyecto sirvió como práctica para el uso de props, manejo del estado local, y la estructuración de componentes reutilizables, además de reforzar conceptos de gestión de datos y diseño interactivo.",
    Link: "https://todolistjhonjandrys.netlify.app/",
    Imagen: "/public/todo.jpg",
    Github: "https://github.com/Jhonjandrysdev/TodoListReact",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    Fecha: "Agosto - 2023",
    Titulo: "Calculadora",
    Descripcion:
      "Desarrollo de una calculadora interactiva como proyecto personal. Implementada con React y JSX, la calculadora incluye funcionalidades como operaciones básicas y diseño amigable para el usuario. Este proyecto refleja la capacidad de construir interfaces funcionales y útiles con fundamentos sólidos en JavaScript. - ",
    Link: "https://calculadorajhonjandrysdev.netlify.app/",
    Imagen: "/public/calculate.jpg",
    Github: "#",
    Tags: [TAGS.JAVASCRIPT, TAGS.REACT, TAGS.CSS],
  }
];
---

{
  PROYECTOS.map((project) => (
    <article class="mb-10">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">
        {project.Titulo}
      </h3>
      <p class="text-base font-semibold text-gray-500 dark:text-gray-400 text-justify mb-4">
        {project.Descripcion}
      </p>
      <ul class="flex  gap-x-4 mb-4 items-center">
        {project.Tags.map((tag) => (
          <li>
            <span class=" flex items-center gap-3 text-sm py-2 px-2 rounded-full">
              <tag.icon class="size-5" /> {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        src={project.Imagen}
        alt={`Captura de pantalla del proyecto ${project.Imagen}`}
      />
    </article>
  ))
}
